7200_COMM2_pinout.txt
AVR_t6963/avrdude-test
AVR_t6963/eeprom/Makefile
AVR_t6963/eeprom/atmega328p.conf
AVR_t6963/eeprom/avrdude.conf
AVR_t6963/eeprom/macros.h
AVR_t6963/eeprom/pinDefines.h
AVR_t6963/eeprom/portpins.h
AVR_t6963/eeprom/run-avrdude
AVR_t6963/eeprom/sfr_helper.h
AVR_t6963/out.txt
AVR_t6963/out2.txt
EM-506RE Hardware Data Sheet V1.7.pdf
EM506_um.pdf
PIC24FJ128_data_sheetc.pdf
PIC24_support/.~lock.PIC24FJ_pinlist.ods#
PIC24_support/39705b.pdf
PIC24_support/ADCconv.c
PIC24_support/OCXCON1-2.pdf
PIC24_support/PIC24FJ256GB110.pdf
PIC24_support/PIC24FJ_pinout.jpg
PIC24_support/SPI.pdf
PIC24_support/SPI_2.pdf
PIC24_support/SPI_enhanced.png
PIC24_support/SPI_standard.png
PIC24_support/TimerRegister1.pdf
PIC24_support/adc/
PIC24_support/dolog.sh
PIC24_support/esos1/ESOS1.X/build/
PIC24_support/esos1/ESOS1.X/dist/
PIC24_support/esos1/ESOS1.X/out.txt
PIC24_support/esos1/LCD_display_menu_notes.txt
PIC24_support/esos1/domake.sh
PIC24_support/esos1/ledpwm.c
PIC24_support/esos1/ledpwm/
PIC24_support/esos1/out.txt
PIC24_support/esos1/truck_old.cx
PIC24_support/esos_tasks.pdf
PIC24_support/esos_tasks2.pdf
PIC24_support/gstat.sh
PIC24_support/keypad.org
PIC24_support/test_handshake_lines.txt
PIC24_support/test_itoa.c
PIC24_support/test_rpm_mph.org
PIC24_support/test_strings.txt
PIC24_support/test_timer.X/
SPI_diagram.jpg
Truck_App.h
Truck_App1/SPI_TB_isim_beh.exe
Truck_App1/TB_STD_FIFO_isim_beh.exe
Truck_App1/TB_STD_FIFO_isim_beh.wdb
Truck_App1/auto_project.ipf
Truck_App1/auto_project_1.ipf
Truck_App1/backup.zip
Truck_App1/backupuz.sh
Truck_App1/bcd_sim.vhd
Truck_App1/bitgen.sh
Truck_App1/board_layout.txt
Truck_App1/cmd_line.sh
Truck_App1/copy_truck_app.sh
Truck_App1/dolog.sh
Truck_App1/fifo.wcfg
Truck_App1/fifo2.vhd
Truck_App1/fifo3.vhd
Truck_App1/fifo3.wcfg
Truck_App1/fifo3_tb.vhd
Truck_App1/fifo_testbench.vhd
Truck_App1/fifo_testbench_isim_beh.exe
Truck_App1/fifo_testbench_isim_beh.wdb
Truck_App1/flash_prog.txt
Truck_App1/generate_mcs.cmd
Truck_App1/gstat.sh
Truck_App1/impact.bat
Truck_App1/impact.cmd
Truck_App1/impact1.cmd
Truck_App1/impact2.cmd
Truck_App1/impact2a.bat
Truck_App1/impact2b.bat
Truck_App1/impact3.cmd
Truck_App1/impact4.cmd
Truck_App1/impact5.cmd
Truck_App1/impact_example1.cmd
Truck_App1/lcd_params.txt
Truck_App1/ledtoggle_timer.c
Truck_App1/manage_boot_bios.txt
Truck_App1/mph_2mag.out
Truck_App1/mph_4mag.out
Truck_App1/multi-byte.gise
Truck_App1/multi-test.wcfg
Truck_App1/multi.iaf
Truck_App1/multi_byte.cfi
Truck_App1/multi_byte.sig
Truck_App1/multi_byte_bitgen.xwbt
Truck_App1/multi_byte_guide.ncd
Truck_App1/notes.txt
Truck_App1/oneline.txt
Truck_App1/output.txt
Truck_App1/output_tb.vhd
Truck_App1/progmem.sh
Truck_App1/progmem.txt
Truck_App1/pwm.vhd
Truck_App1/pwm2a.vhd
Truck_App1/recv_comm1.txt
Truck_App1/result_log.ods
Truck_App1/rpm.out
Truck_App1/rpm.txt
Truck_App1/run_xst.sh
Truck_App1/sim_2a_isim_beh1.wdb
Truck_App1/spi_sim_isim_beh.exe
Truck_App1/spi_sim_isim_beh.wdb
Truck_App1/spi_tb.vhd
Truck_App1/ss.txt
Truck_App1/tar_mult.sh
Truck_App1/temp.vhd
Truck_App1/temp_master.vhd
Truck_App1/test.mcs
Truck_App1/test_LED.vhd
Truck_App1/test_dtmf.vhd
Truck_App1/test_dtmf_isim_beh.exe
Truck_App1/test_dtmf_isim_beh.wdb
Truck_App1/test_multi.vhd
Truck_App1/test_output.ucf
Truck_App1/test_output.vhd
Truck_App1/testmain_isim_beh.exe
Truck_App1/testmain_isim_beh.wdb
Truck_App1/truck_app.bgn
Truck_App1/truck_app.drc
Truck_App1/truck_app_notes.txt
Truck_App1/tunes.txt
Truck_App1/vmul8x8.vhd
Truck_App1/warnings.txt
Truck_App1/wrapper.wcfg
Truck_App1/wrapperLED2.vhd
Truck_App1/wrapper_mph.vhd
Truck_App1/wrapper_mph.wcfg
Truck_App1/wrapper_mph2.vhd
Truck_App1/wrapper_mph2.wcfg
Truck_App1/wrapper_rpm.vhd
Truck_App1/wrapper_rpm.wcfg
Truck_App1/xc3s500e_vq100.bsd
Truck_App1/xc3s500e_vq100_1532.bsd
Truck_App1/xcf04s.bsd
Truck_App1/xcf04s_1532.bsd
backup.sh
backup2.sh
calc
calc_onoff.c
clist.sh
man_open.txt
menu.txt
monster_box2a.jpg
monster_box3.txt
mystr
mystring.c
oneline.txt
staying_well_grounded.pdf
temp.c
test.txt
test_gdisp.c
thread_io.tar
thread_io/DIO1_pinout.txt
thread_io/Hexit
thread_io/client
thread_io/client.sh
thread_io/client2.sh
thread_io/client3.sh
thread_io/client4.sh
thread_io/compile_lcd.sh
thread_io/conv.sh
thread_io/dir_make
thread_io/dmake.tar
thread_io/dmake2
thread_io/dmake3
thread_io/do1.sh
thread_io/do2.sh
thread_io/found.txt
thread_io/idata.dat
thread_io/idata2.dat
thread_io/idata3.dat
thread_io/idata4.dat
thread_io/init_db
thread_io/inittab
thread_io/list.sh
thread_io/list_db
thread_io/mingetty/.profile
thread_io/ncurses/csv_dat.tar
thread_io/ncurses/csv_files.tar
thread_io/ncurses/db.tar
thread_io/ncurses/do1.sh
thread_io/ncurses/edit_field.h
thread_io/ncurses/idata.csv
thread_io/ncurses/idata.dat
thread_io/ncurses/idata2.dat
thread_io/ncurses/idata3.dat
thread_io/ncurses/idata4.dat
thread_io/ncurses/list.txt
thread_io/ncurses/lt
thread_io/ncurses/menu/
thread_io/ncurses/ncurses.txt
thread_io/ncurses/odata.csv
thread_io/ncurses/odata.dat
thread_io/ncurses/odata2.dat
thread_io/ncurses/odata3.dat
thread_io/ncurses/odata4.dat
thread_io/ncurses/out.txt
thread_io/ncurses/port
thread_io/ncurses/tcp.h
thread_io/newpassword.txt
thread_io/odata.dat
thread_io/odata2.dat
thread_io/odata3.dat
thread_io/odata4.dat
thread_io/out.txt
thread_io/read_sd.txt
thread_io/sched
thread_io/sched.log
thread_io/status.txt
thread_io/test_dio1.c
thread_io/test_tcp/do1.sh
thread_io/test_tcp/do2.sh
thread_io/test_tcp/do3.sh
thread_io/test_tcp/out.txt
thread_io/test_tcp/sched.log
thread_io/test_tcp/target/
thread_io/test_tcp/test_io.tar
thread_io/test_tcp/x86/
thread_io/ts-7000_ep9301-ug.pdf
times.txt
times2.txt
truck_app_map.txt
truck_app_notes.txt
