AVR_t6963/ERM240128.png
AVR_t6963/LCD_chart.png
AVR_t6963/LCD_pinout.png
AVR_t6963/ascii_table.png
AVR_t6963/avrdude-test
AVR_t6963/avrdude-test3
AVR_t6963/avrdude-test4
AVR_t6963/compile
AVR_t6963/eeprom_dump.png
AVR_t6963/flash_read.sh
AVR_t6963/flash_write.sh
AVR_t6963/run_test.sh
PIC24_support/.~lock.PIC24FJ_pinlist.ods#
PIC24_support/39699b.pdf
PIC24_support/70005185a.pdf
PIC24_support/ADCconv.c
PIC24_support/PIC24FJ256GB110.pdf
PIC24_support/PIC24FJ_pinout.jpg
PIC24_support/SPI_enhanced.png
PIC24_support/SPI_modes.tar
PIC24_support/SPI_standard.png
PIC24_support/adc/
PIC24_support/dolog.sh
PIC24_support/esos1/7segLED.c
PIC24_support/esos1/Truck_App_spi_test.c
PIC24_support/esos1/keypad.c
PIC24_support/esos1/old_keypad.c
PIC24_support/esos1/spi.c
PIC24_support/esos1/spi_master.c
PIC24_support/esos1/spi_slave.c
PIC24_support/gstat.sh
PIC24_support/keypad.c
PIC24_support/read_block.c
PIC24_support/test_asc
PIC24_support/test_asc.c
PIC24_support/test_rpm_mph.org
PIC24_support/test_timer.X/
PIC24_support/test_write.c
Truck_App1/Truck_App1.old4.vhd
Truck_App1/Truck_App2.vhd
Truck_App1/Truck_App_sim.vhd
Truck_App1/algo.c
Truck_App1/bcd_sim.vhd
Truck_App1/bcd_sim.wcfg
Truck_App1/bitgen.sh
Truck_App1/cmd_line.sh
Truck_App1/dolog.sh
Truck_App1/gstat.sh
Truck_App1/ledtoggle_timer.c
Truck_App1/result_log.ods
Truck_App1/rpm.txt
Truck_App1/run_xst.sh
Truck_App1/sim1.wcfg
Truck_App1/sim1a.wcfg
Truck_App1/sim1b.wcfg
Truck_App1/sim1c.wcfg
Truck_App1/sim1d.wcfg
Truck_App1/sim2.wcfg
Truck_App1/sim_1w.vhd
Truck_App1/sim_1w.wcfg
Truck_App1/sim_1x.vhd
Truck_App1/sim_1x.wcfg
Truck_App1/sim_1y.wcfg
Truck_App1/sim_2a.vhd
Truck_App1/sim_2a_isim_beh1.wdb
Truck_App1/sim_2b.vhd
Truck_App1/sim_2b.wcfg
Truck_App1/sim_2x.vhd
Truck_App1/sim_rpm-mph.vhd
Truck_App1/sim_rpm.vhd
Truck_App1/sim_rpm.wcfg
Truck_App1/sim_rpm2.wcfg
Truck_App1/temp.vhd
Truck_App1/test.jpg
Truck_App1/test_mem.wcfg
Truck_App1/test_mem1.png
Truck_App1/test_read.c
Truck_App1/test_read2.c
Truck_App1/test_uart/cmd_line2.sh
Truck_App1/test_uart/cmd_line3.sh.save
Truck_App1/test_uart/read_block2.c
Truck_App1/test_uart/test.vhd
Truck_App1/test_uart/test.wcfg
Truck_App1/test_uart/test_uart3.vhd
Truck_App1/test_uart/test_uart4.vhd
Truck_App1/test_write2.c
Truck_App1/warnings.txt
Truck_App2_notes.txt
thread_io/bind.txt
thread_io/client.c
thread_io/client.h
thread_io/client.sh
thread_io/client2.c
thread_io/client2.sh
thread_io/copy.sh
thread_io/creat.txt
thread_io/dmake
thread_io/dmake2
thread_io/doftp
thread_io/getaddrinfo.tar
thread_io/getaddrinfo.txt
thread_io/idata.dat
thread_io/ir104_man.pdf
thread_io/iserver4.c
thread_io/man_expect.txt
thread_io/man_recv.txt
thread_io/ncurses/big_ncurses.c
thread_io/ncurses/compile_forms.sh
thread_io/ncurses/demo_forms.c
thread_io/ncurses/demo_forms3.c
thread_io/ncurses/find_file.c
thread_io/ncurses/idata.dat
thread_io/ncurses/itemp.dat
thread_io/ncurses/movewindow.c
thread_io/ncurses/ncurses-intro.doc
thread_io/ncurses/ncurses_cfg.h
thread_io/ncurses/odata.dat
thread_io/ncurses/otemp.dat
thread_io/ncurses/server3.c
thread_io/ncurses/tcp.h
thread_io/ncurses/tcp_win2.c
thread_io/ncurses/temp.c
thread_io/ncurses/test_menu2.c
thread_io/odata.dat
thread_io/queue/llist_threads_rw.c
thread_io/queue/llist_threads_rw.h
thread_io/recv.txt
thread_io/send10.sh
thread_io/server.c
thread_io/server2.c
thread_io/sockets.txt
thread_io/sockets_timeout.txt
thread_io/spi_registers.txt
thread_io/test_read.c
thread_io/test_write.c
thread_io/threadaddSem.c
thread_io/ts-7000_ep9301-ug.pdf
thread_io/ts-7200_SPI_control_registers.pdf
AVR_t6963/LCD.jpg
AVR_t6963/Makefile_old
AVR_t6963/avrdude-test2
AVR_t6963/avrzip.sh
AVR_t6963/copyfrom.sh
AVR_t6963/copyto.sh
AVR_t6963/dozip.sh
AVR_t6963/eeprom_read.png
AVR_t6963/end_of_eeprom_dump.png
AVR_t6963/flash_lcdw.sh
AVR_t6963/getinfo2
AVR_t6963/grep-nm
AVR_t6963/load.sh
AVR_t6963/main.h2
AVR_t6963/menu_list.png
AVR_t6963/menus.cx
AVR_t6963/oneline.txt
AVR_t6963/output.txt
AVR_t6963/psuedo_avrdude
AVR_t6963/setup.jpg
AVR_t6963/state_machine.txt
AVR_t6963/sys_protocol.txt
AVR_t6963/test_struct.txt
AVR_t6963/test_write_data/copyfrom.sh
AVR_t6963/test_write_data/copyto.sh
AVR_t6963/test_write_data/domake
AVR_t6963/test_write_data/findw.sh
AVR_t6963/test_write_data/info.txt
AVR_t6963/test_write_data/lcopy.sh
AVR_t6963/test_write_data/test_data.sh
AVR_t6963/unload.sh
PIC24_support/keypad.org
PIC24_support/test_itoa.c
t6963_notes.txt
thread_io.md
thread_io/concurrentserver.c
thread_io/iserver3
thread_io/startup.png

PIC24_support/esos1/ESOS1.X/build/
PIC24_support/esos1/ESOS1.X/dist/
PIC24_support/esos1/ESOS1.X/nbproject/private/
*.dat
*.png
*.exe
