##############################################Core3S500E#################################################
NET "clk" LOC = "P184" ;
NET "reset" LOC = "P101" ;

# serial port
NET "tx_uart" LOC = "P77";
NET "rx_uart" LOC = "P75";
NET "tx_uart2" LOC = "P69";
NET "rx_uart2" LOC = "P64";

# led1 is the build-in LED's on the board
NET "led1[0]" LOC = "p68";
NET "led1[1]" LOC = "p78";
NET "led1[2]" LOC = "p83";
NET "led1[3]" LOC = "p89";

