##############################################Core3S500E#################################################
#note: the Vcc to the chip is 5v but all the other IO is 3v3

NET		"clk"			LOC = "P184" ;
NET		"reset"			LOC = "P101" ;

# this turns the 'strange error' to a warning
NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;

NET "PP_DATA7"  LOC ="p181";
NET "PP_DATA6"  LOC ="p178";
NET "PP_DATA5"  LOC ="p179";
NET "PP_DATA4"  LOC ="p172";
NET "PP_DATA3"  LOC ="p177";
NET "PP_DATA2"  LOC ="p168";
NET "PP_DATA1"  LOC ="p171";
NET "PP_DATA0"  LOC ="p165";
NET "PP_ACK"  LOC ="p167";
NET "PP_CS"  LOC ="p163";
NET "rx_uart"  LOC ="p180";
NET "data_sent"  LOC ="p164";
NET "cmd_param"  LOC ="p161";
NET "data_ready"  LOC ="p162";

NET "pwm_signal_1"  LOC ="p4";
NET "pwm_signal_2"  LOC ="p5";
NET "pwm_spk1"  LOC ="p2";
NET "pwm_spk2"  LOC ="p3";
NET "pwm_lcd"  LOC ="p203";
NET "fp_shutoff"  LOC ="p205";
NET "rev_limit"  LOC ="p200";
NET "rpm1_signal"  LOC ="p202";
#NET "rpm2_signal"  LOC ="p197";
NET "mph1_signal"  LOC ="p199";
#NET "mph2_signal"  LOC ="p193";
NET "tx_rpm_mph"   LOC ="p196";
NET "TS7800TX"     LOC ="p190";
NET "TS7800RX"     LOC ="p192";
NET "monitorTX"    LOC ="p187";
NET "monitorRX"    LOC ="p189";

NET "MCP_CS1"      LOC = "p160";
NET "MCP_CLK1"     LOC = "p153";
NET "MCP_DIN1"     LOC = "p151";
NET "MCP_DOUT1"    LOC = "p152";

NET "MCP_CS2"      LOC = "p150";
NET "MCP_CLK2"     LOC = "p147";
NET "MCP_DIN2"     LOC = "p145";
NET "MCP_DOUT2"    LOC = "p146";

NET "MCP_CS3"      LOC = "p144";
NET "MCP_CLK3"     LOC = "p140";
NET "MCP_DIN3"     LOC = "p138";
NET "MCP_DOUT3"    LOC = "p139";

NET "MCP_CS4"      LOC = "p137";
NET "MCP_CLK4"     LOC = "p135";
NET "MCP_DIN4"     LOC = "p133";
NET "MCP_DOUT4"    LOC = "p134";

# led1 is the build-in LED's on the board
NET		"led1[0]"		LOC = "p68";
NET		"led1[1]"		LOC = "p78";
NET		"led1[2]"		LOC = "p83";
NET		"led1[3]"		LOC = "p89";
