##############################################Core3S500E#################################################
#note: the Vcc to the chip is 5v but all the other IO is 3v3

NET		"clk"	LOC = "P184" ;
NET		"reset"	LOC = "P101" ;

# this turns the 'strange error' to a warning
NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;

# serial port
NET		"tx_uart"	LOC = "P34";
NET		"rx_uart"	LOC = "P36";

# inputs from sensors
NET		"rpm_signal"	LOC = "P77";
NET		"mph_signal"	LOC = "P75";

# 7-seg LED outputs
NET		"tx_rpm"	LOC = "P69";
NET		"tx_mph"	LOC = "P64";

# speaker outputs
NET		"pwm_spk1"	LOC = "P62";
NET		"pwm_spk2"	LOC = "P60";

# pwm for dimmer for LCD screen
NET		"pwm_lcd"	LOC = "P50";

#SPI master signals
NET		"MOSI_o"	LOC = "P48";
NET		"MISO_i"	LOC = "P45";
NET		"SCLK_o"	LOC = "P41";

# if using slave select for 2 different SPI slaves
NET	"SS_o[0]"   LOC = "P39";
NET	"SS_o[1]"   LOC = "P35";

#NET	"test[0]"	LOC = "P61";
#NET	"test[1]"	LOC = "p55";
#NET	"test[2]"	LOC = "p49";
#NET	"test[3]"	LOC = "p47";

# led1 is the build-in LED's on the board
NET		"led1[0]"	LOC = "p68";
NET		"led1[1]"	LOC = "p78";
NET		"led1[2]"	LOC = "p83";
NET		"led1[3]"	LOC = "p89";

# lower right pins looking at bottom of board
#	.		.
#	.		.
#	.		.
#	36		35
#	5v		gnd
#	40		39
#	42		41
#	47		45
#	49		48
#	55		50
#	61		60
#	63		62
#	65		64
#	74		69
#	76		75
#	82		77
